/.mypy_cache
/connect.py
/funcoes.py
/main3.py
/teste.py
.gitignore
/.idea/01.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/git_toolbox_prj.xml
